*.log
*.o
*.py[co]
*.swp
*.trs
.deps
.dirstamp
Makefile
Makefile.in
__pycache__
aclocal.m4
autom4te.cache/
compile
config.*
configure
configure.scan
core.*
depcomp
install-sh
massif.out.*
missing
perf.data
src/stathasher
src/statsrelay
stamp-*
stresstest
test-driver
test/devnull
test_hashlib
test_hashring
test_stats
