*.log
*.o
*.swp
*.trs
.deps
.dirtimestamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
missing
src/stathasher
src/statsrelay
stamp-*
test-driver
test/devnull
test_hashlib
test_hashring
test_stats
