Source: statsrelay
Section: net
Priority: extra
Maintainer: Jeremy Grosser <jeremy@synack.me>
Build-Depends: debhelper (>= 8.0.0), pkg-config, libev-dev (>= 4.11), libyaml-dev, dh-autoreconf, python
Standards-Version: 3.9.3

Package: statsrelay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A consistent-hashing relay for statsd metrics

Package: statsrelay-dbg
Architecture: any
Section: debug
Priority: extra
Depends: statsrelay (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for statsrelay
